.prap{
    font-size: 1.5em;
    text-align: center;
    margin: 20px;
    align-self: center;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.para{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
        
}
.foter{
    position: relative;
    top: 2000px;
}