#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding-left: auto;
  justify-content: center;
  place-items: center;
  /* animation: fadeOutDownbtn 0.5s ease 0s 1 normal forwards; */
}
.closeButton {
  position: relative;
  display: flex;
  align-items:flex-end;
  top: 0;
  right: -500px;
  padding: 1rem;
  cursor: pointer;
  opacity: 100%;
  animation: fadeOutDownbtn 0.5s ease 0s 1 normal forwards;
}
.gridnone{
  animation: fadeOutDown 0.5s ease 0s 1 normal forwards;
}

.xnone{
  display: none;
}



.outletContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: absolute;
  left: 25%;
  top: 25%;

}

.outletContainerOff {
animation: fadeOutDown 1s ease 0s 1 normal forwards;
}  

@keyframes fadeOutDown {
  0% {
    opacity: 100%;
    transform: translateY(0);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding-left: auto;
  justify-content: center;
  place-items: center;
    
  }
  100% {
    opacity: 0%;
    transform: translateY(100%);
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding-left: auto;
  justify-content: center;
  place-items: center;
  }
}
@keyframes fadeOutDownbtn {
  0% {
    opacity: 0%;
    transform: translateY(100%);
    display: none;}
  
  100% {
    opacity: 100%;
    transform: translateY(0);
    display: flex;
  
  }
}