#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding-left: auto;
  justify-content: center;
  place-items: center;
}
.gridnone{
  display: none;
}
.gridnone{
  display: none;
}

.gridnone{
  display: none;
}

.outletContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: absolute;
  left: 25%;
  top: 25%;
}