#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.footnone{
  display: none;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
gap: 0.5rem;
  padding-left: auto;
  justify-content: center;
  place-items: center;
  align-items: center;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  /* animation: fadeOutDownbtn 0.5s ease 0s 1 normal forwards; */
}
.closeButton {
  position: relative;
  display: flex;
  align-items:flex-end;
  top: 0;
  right: -500px;
  padding: 1rem;
  cursor: pointer;
  opacity: 100%;
  animation: fadeOutDownbtn 0.5s ease 0s 1 normal forwards;
}
.gridnone{
  animation: fadeOutDown 0.5s ease 0s 1 normal forwards;
}


.xnone{
  display: none;
}

.outletContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: absolute;
  left: 50vh;
  top: 300px;
  animation: fadeOutDowncon 0.5s ease 0s 1 normal none;
}

.outletContainerOff {
animation: fadeOutDown 1s ease 0s 1 normal forwards;
}  
.catchy{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
@keyframes fadeOutDown {
  0% {
    opacity: 100%;
    transform: translateY(0);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding-left: auto;
  justify-content: center;
  place-items: center;
    
  }
  100% {
    opacity: 0%;
    transform: translateY(100%);
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding-left: auto;
  justify-content: center;
  place-items: center;
  }
}
@keyframes fadeOutDownbtn {
  0% {
    opacity: 0%;
    transform: translateY(100%);
    display: none;}
  
  100% {
    opacity: 100%;
    transform: translateY(0);
    display: flex;
  
  }
}

@keyframes fadeOutDowncon {
  0% {
    opacity: 0%;
    transform: translateY(1000px);
    display: none;}
  
  100% {
    opacity: 100%;
    transform: translateY(0);
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: absolute;
  left: 50vh;
  }
}