.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    max-width: 300px;
    margin: 16px;
    position: relative;
    transition: all 0.3s ease;
    z-index: 1;
}

@property --angle{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.card:hover::after, .card:hover::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle) at 50% 70%, #FFA31D, #FF8B01, #FA6F01, #F55301, #F03801, #EB1C01, #E60001, #FFA31D);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 8px;
    animation: 3s spin linear infinite;
}  

.card:hover::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.card:hover {
    transform: scale(1.05);
}

.card:hover .cardDescription{
    color: #000000;
}

.cardImage {
    width: 100%;
    height: auto;
}

.cardContent {
    padding: 16px;
}

.cardTitle {
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 1.5em;
    margin: 0 0 8px 0;
}

.cardDescription {
    font-family: 'P-Medium', sans-serif;
    font-size: 1em;
    color: #ffffff;
}