@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  src: url('assets/fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'P-Medium';
  font-style: normal;
  src: url('assets/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'P-Regular';
  ont-style: normal;
  src: url('assets/fonts/Poppins-Thin.ttf') format('truetype');
}

:root {
  line-height: 1.5;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #050049;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
}

p{
  font-family: 'P-Medium', sans-serif;
  font-weight: 500;
}

#root{
  display: flex;
  flex-direction: column;
}

html, body, #root {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
