

footer{
    width: 100%; 
    padding: 20px;
    background-color: hsl(244, 100%, 20%);
}

.footerContainer{
    width: max(800px, 90%);
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    justify-items: center;
}

.footList{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footnote{
    text-align: center;
}

