header{
    margin-bottom: 20px;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    background-color: hsl(244, 100%, 20%)
}

.navLogo{
    background: #FFA31D;
    background: linear-gradient(to right, #FFA31D 0%, #EF5454 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: skewX(20deg);
    text-shadow: 6px 6px 0px rgba(239, 84, 84, 0.5);
}

.navLinks{
    display: flex;
    align-items: center;
    height: 100%;
}

.navLinks a, .vertNavLinks a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'P-Medium', sans-serif;
    padding: 30px 20px;
    position: relative;
    transition: all 0.3s ease;
}

.navLinks a::after, .vertNavLinks a::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2196F3; 
    opacity: 0;
    box-shadow: 0 2px 8px #2196F3; 
    transition: opacity 0.3s ease;
}

.navLinks a:hover::after, .vertNavLinks a:hover::after{
    opacity: 1;
}

.navLinks a:hover, .vertNavLinks a:hover{
    background-color: hsl(237, 100%, 5%);
    box-shadow: 0 5px 10px 0 hsla(237, 100%, 75%, 0.5);
}

.vertNavLinks{
    display: none;
}

.navBtn{

    padding: 15px;
    background-color: hsl(237, 100%, 5%);
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navBtn:hover{
    background-color: hsl(237, 100%, 10%);
    box-shadow: 0 5px 10px 0 hsl(237, 100%, 75%);
}

.navOpenBtn, .navCloseBtn{
    display: none;
}


@media screen and (max-width: 768px){
    nav{
        padding: 20px 40px;
    }

    .navOpenBtn{
        display: block;
    }

    .navLinks{
        display: none;
    }

    .vertNavLinks.responsiveNav{
        display: flex;
    }

    .vertNavLinks{
        flex-direction: column;
        text-align: center;
        display: none;
    }

    .vertNavLinks a{
        width: 100%;
    }

} 